@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  overflow-x: hidden;
}

:root{
  --primary-color:#F4BFBF;
  --secondary-color:#FFD9C0;
  --sky-blue:#8CC0DE;
  --white-color:#fff;
  --dark-color:#333;
  --text-color:#232323;
  --main-color:#ffcc00;
}

h1,h2,h3,h4,h5,h6,p,a,span,label {
  font-family: 'Lato', sans-serif;
}

input{
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em;
}

.sec_p{
  padding: 5em 0px;
}

button:disabled {
  opacity: 0.4;
}

.active {
  color: #facc15 !important;
  font-size: 1em !important;
  font-weight: 500 !important;
  background-color: transparent !important;
}

.home {
  background-image: url("http://plazathemes.com/magento22/outline/pub/media/Plazathemes/bannerslider/images/s/s/ss1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}

.home .container {
  display: flex;
  align-items: center;
  height: 85vh
}

.app_btn {
  padding: 0.5em 1.5em;
  border: none;
  outline: none;
  background-color: #ffcc00;
  color: #333;
  font-size: 1.1em;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.app_btn:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1em;
}

.page-item {
  background: #ffcc00;
  padding: 1em 2em;
  border-radius: 4px;
  cursor: pointer;
}

.page-item a {
  color: #fff;
}

.pageItemActive {
  background: #333 !important;
}

.notFound {
  width: 300px !important
}

.cart_img {
  width: 250px !important;
  object-fit: cover;
}

.product_img img {
  width: 250px !important;
  height: auto;
  object-fit: cover;
}